{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include "./elements/head.html" %}
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'news/assets/img/logo/logo_zendvn.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->

        {% include "./elements/header.html" %}

        <!-- Header End -->
    </header>
    <main>

        <!-- About US Start -->
        {% block main_content %}
        {% endblock main_content %}
        <!-- About US End -->

    </main>
    <footer>
        <!-- Footer Start-->

        {% include "./elements/footer.html" %}
       
        <!-- Footer End-->
    </footer>
    <!-- Search model Begin -->
    {% include "./elements/search.html" %}
    <!-- Search model end -->

    <!-- JS here -->

    {% include "./elements/script.html" %}
    

</body>

</html>